/* div{
    padding-top: 20px;
    background-color:#B9D9EB;
    width: 70vh;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 165%;
    font-size: 22px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.404);
} */
